<?xml version="1.0" encoding="UTF-8"?>
<appSettings>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  <add key="DefaultEmail" value="support@apiexpert.net" />
  <add key="passPhrase" value="apiexpert" />
  <add key="BaseUrl" value="http://localhost:2531" />
  <add key="ConnectionStringName" value="DevEStore" />
  <add key="SmtpHost" value="localhost" />
  <add key="SmtpUsername" value="" />
  <add key="SmtpPassword" value="" />
</appSettings>