<?xml version="1.0" encoding="UTF-8"?>
<connectionStrings>
  <add name="DevEStore" connectionString="Data Source=localhost;Initial Catalog=ApiExpertDB;Integrated Security=True" providerName="System.Data.SqlClient" />
  <add name="ProdEStore" connectionString="Data Source=localhost;Initial Catalog=ApiExpertDB;Integrated Security=false;User ID=wjkongDB;Password=Wj730615" providerName="System.Data.SqlClient" />
</connectionStrings>