<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false">
  <targets async="true">
      <target name="db" xsi:type="Database" connectionStringName="DevEStrore" commandType="Text"
          commandText="INSERT INTO LOG(LEVEL, CLASSNAME, METHODNAME, MESSAGE, EXCEPTION) VALUES(@LEVEL, @CLASSNAME, @METHODNAME, @MESSAGE, @EXCEPTION);">
        <parameter name="LEVEL" layout="${level:uppercase=true}" />
        <parameter name="MESSAGE" layout="${message}" />
        <parameter name="CLASSNAME" layout="${callsite:className=True:methodName=False}" />
        <parameter name="METHODNAME" layout="${callsite:className=False:methodName=True}" />
        <parameter name="EXCEPTION" layout="${exception:format=ToString}" />
      </target>
  </targets>
  <rules>
    <logger name="*" minlevel="Debug" writeTo="db" />
  </rules>
</nlog>




