<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Error" internalLogFile="c:\temp\nlog-internal.log" >
  <targets>
      <target name="database" xsi:type="Database" connectionString="ApiExpertConn"
          commandText="insert into Log(level,logger,message) values(@level, @logger, @message);">
        <parameter name="LEVEL" layout="${level:uppercase=true}" />
        <parameter name="LOGGER" layout="${logger}" />
        <parameter name="MESSAGE" layout="${message}" />
      </target>
  </targets>
  <rules>
    <logger name="*" minlevel="Debug" writeTo="database" />
  </rules>
</nlog>
